:root {
    --primary-dark: #333;
    --primary-light: #d7d7d7;
    --secondary-light: #fefefe;
}

* {
    /* border: 2px solid red; */
    
}

html {
    height: 100%;
    padding: 8px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--primary-light);
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--primary-dark);
    margin: 10px 15px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--primary-dark);
    margin-right: 15px;
}