:root {
    --primary-dark: #333;
    --secondary-dark: #bdbdbd;
    --primary-light: #d7d7d7;
    --secondary-light: #fefefe;
}

* {
    /* border: 1px solid red; */
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    height: inherit;
    background-color: var(--primary-light);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcContainer {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--primary-dark);
    border-radius: 5px;
    padding: 8px;
    background-color: var(--secondary-dark);
    gap: 8px;
}

#displayContainer {
    min-height: 100px;
    display: flex;
    border: 2px solid var(--primary-dark);
    border-radius: 5px;
    background-color: var(--primary-light);
}

#display {
    flex: 1;
    display: flex;
    padding: 12px;
}

#displayText {
    flex: 1;
    text-align: right;
    font-size: 68px;
    font-weight: 500;
    color: var(--primary-dark);
}

#buttons {
    flex: 1;
    display: flex;
    gap: 8px;
}

#settings-digits-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    flex: 1;
    display: flex;
    gap: 8px;
}

.button {
    flex: 1;
    border: 2px solid var(--primary-dark);
    border-radius: 5px;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-size: 24px;
    font-weight: 500;
}

#operatorBtns {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--primary-dark);
    margin: 25px 25px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--primary-dark);
    margin: 25px;
}
